<%# Le gem high_voltage -> content_for :title ->
 remplacer la balise yield de la page principale %>
<% content_for :title do %>About<% end %>
<h3>WoW!</h3>
<p>Je m'appel Louka</p>
<p>Salut</p>
<p>Ce site n'est pas très légal</p>
