<%# Le gem high_voltage -> content_for :title ->
 remplacer la balise yield de la page principale %>
<% content_for :title do %>About<% end %>
<h3>Titre</h3>
<p>paragraphe 1.</p>
<p>paragraphe 2.</p>
<p>paragraphe 3.</p>
