<h1>Animes#index</h1>
<div class="listeAnime">
  <ul class="items">
    <% @animes.each do |a| %>
    <li>
      <div class="itemsBorder">
        <div class="img">
          <a href="/<%=a.id%>">
            <img height=300px, width=180px, src=<%=a.img%>></img>
          </a>
        </div>
        <p class="name">
          <%= link_to a.name, action: :showA, id: a.id %> <%# Je veux passer l'id de "a" a mon controller dans showA %>
        </p>
      </div>
    </li>
    <% end %>
  </ul>
</div>
