<h1>Animes#index</h1>
<ul>
  <% @animes.each do |a| %>
  <li>
    <div>
      <a href="/">
        <img src=<%=a.img%>/>
      </a>
    </div>
    <p>
      <a href="/">
        <%= a.name %>
      </a>
    </p>
  </li>
  <% end %>
</ul>
