<div class="animeInfoBody">
  <img src=<%=@anime.img%> >
  <h1><%=@anime.name%></h1>
  <p class="info">
    <span>Info:</span>
    <%=@anime.description%>
  </p>
</div>
<div class="animeEpisodeListBody">
  <h2>Episodes list:</h2>
  <ul>
    <% @episodes.each do |e| %>
    <li>
      <%= link_to e.name, {controller: "episodes", action: "show", id:e.id }, class: "badge badge-dark" %>
    </li>
    <% end %>
  </ul>
</div>
