<nav class="navbar navbar-toggleable-lg navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">
    <img src="/img/animeple.png" width="200" alt="animepleLogo">
  </a>

  <%= form_tag(animes_index_path, method: :get, class:"form-inline mt-2 mt-md-0") do %>
  <%= text_field_tag :term, params[:term], class:"form-control mr-sm-2", placeholder:"Search" %>
  <%= submit_tag 'Search', name: nil, class:"btn btn-outline-success my-2 my-sm-0" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>

</nav>
